<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525526357726-810ec9t8r05bo92q9cd0leg5jnd2v8lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525526357726-810ec9t8r05bo92q9cd0leg5jnd2v8lj</string>
	<key>API_KEY</key>
	<string>AIzaSyCN9MSPRNUuIUtWXCMRcMzKQDv9Q3M8TQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>525526357726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bybloomMvp</string>
	<key>PROJECT_ID</key>
	<string>bybloommvp</string>
	<key>STORAGE_BUCKET</key>
	<string>bybloommvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525526357726:ios:a70bbb3327200e6701d44f</string>
	<key>DATABASE_URL</key>
	<string>https://bybloommvp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>